<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trip_mapper">

	<!-- 관광 명소 게시글 총 갯수 -->
	<select id='trip_count' resultType='int'>
		select /*+
		index_ffs(trip_info PRIMARY)*/ count(*)
		from trip_info
		<where>
			<if test="user_id != null">and user_id=#{user_id}</if>
			<if test="on_off != null">and on_off=#{on_off}</if>
		</where>
	</select>

	<!-- 관광 명소 게시글 정보 -->
	<select id="trip_find_all" resultType="trip_board"> 
 		select no,user_id,title,content,admission,opentime,w_date,
			city,postcode,address,on_off,p_link,up_view,views,likes,name
		from trip_info
		<where>
			<if test="user_id != null">and user_id=#{user_id}</if>
			<if test="on_off != null">and on_off=#{on_off}</if>
		</where>
  	 limit #{startRowNum},#{endRowNum}
	</select>

	<!-- 관광명소 게시글 읽기 -->
	<select id="trip_read" resultType="trip_board">
		select no,user_id,title,content,city,address,on_off,p_link,up_view
		,likes,views,w_date,postcode,admission,opentime,thumbnail,name
		from trip_info
		where trip_info.no = #{no};
	</select>
	
	<!-- 관광명소 게시글 작성 -->
	<insert id="trip_insert" parameterType="trip_board" useGeneratedKeys="true" keyProperty="no">
		insert into trip_info(no, user_id, title, content, admission, opentime,w_date,name
		, city, postcode, address, thumbnail, on_off, p_link, up_view, views, likes, board_status)
		values(#{no},#{user_id},#{title},#{content},#{admission},#{opentime}
		,now(),#{name},#{city},#{postcode},#{address},#{thumbnail},"y","n","n",0,0,"1")
	</insert>

	<!-- 관광명소 게시글 수정 -->
	<update id="trip_update">
		update trip_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name = #{name},</if>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			<if test="admission != null">admission = #{admission},</if>
			<if test="opentime != null">opentime = #{opentime},</if>
			<if test="city != null">city = #{city},</if>
			<if test="address != null">address = #{address},</if>
			<if test="postcode != null">postcode = #{postcode},</if>
			<if test="thumbnail != null">thumbnail = #{thumbnail},</if>
			<if test="on_off != null">on_off = #{on_off},</if>
			<if test="p_link != null">p_link = #{p_link},</if>
			<if test="up_view != null">up_view = #{up_view},</if>
			<if test="views != null">views = #{views},</if>
			<if test="likes != null">likes = #{likes},</if>
		</trim>
		where no=#{no}
	</update>

	<!-- 관광명소 게시글 삭제 -->
	<delete id="trip_delete">
		delete trip_info, trip_view_info
		from trip_info
			left join trip_view_info on (trip_view_info.no = trip_info.no)
		where trip_info.no = #{no};
	</delete>

	<!-- 후기 start -->
	<!-- 관광명소 후기 작성 -->
	<insert id="trip_view_insert" parameterType="trip_view" useGeneratedKeys="true" keyProperty="vno">
		insert into trip_view_info(no, user_id, content)
		values(#{no}, #{user_id}, #{content})
	</insert>

	<!-- 관광명소 게시글의 후기 총 갯수 -->
	<select id="trip_view_find_all" resultType="trip_view">
		select no,vno,user_id,content
		from trip_view_info
		where trip_view_info.no = #{no}
		order by vno desc
	</select>

	<!-- 관광명소  후기 읽기 -->
	<select id="trip_view_read" resultType="trip_view">
		select no,vno,user_id,content
		from trip_view_info
		where trip_view_info.vno = #{vno}
	</select>

	<!-- 관광명소 후기 수정 -->
	<update id="trip_view_update">
		update trip_view_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="content != null">content = #{content},</if>
		</trim>
		where no = #{no} and vno = #{vno}
	</update>

	<!-- 관광명소 후기 삭제 -->
	<delete id="trip_view_delete">
		delete from trip_view_info
		where vno = #{vno}
	</delete>

</mapper>