<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.app.project.user.User_bean" />
		<typeAlias alias="gh_Board" type="com.app.project.board.gh.GH_BoardBean" />
		<typeAlias alias="gh_Room" type="com.app.project.board.gh.GH_RoomBean" />
		<typeAlias alias="gh_View" type="com.app.project.board.gh.GH_ViewBean" />
		<typeAlias alias="search" type="com.app.project.Common.Search.SearchBean" />
		
		<!-- 관광명소 -->
		<typeAlias alias="trip_board" type="com.app.project.board.trip.Trip_board_bean" />
		<typeAlias alias="trip_view" type="com.app.project.board.trip.Trip_view_bean" />
		
		<!-- 예약 -->
		<typeAlias alias="reserve" type="com.app.project.reserve.Reserve_bean" />
		
		<!-- 1:1문의 -->
		<typeAlias alias="inquiry" type="com.app.project.service_center.inquiry.Inquiry_bean" />
		
		<!-- 공지사항 -->
		<typeAlias alias="notice" type="com.app.project.admin.notice.Notice_bean" />
	</typeAliases>
</configuration>